* {
    box-sizing: border-box;
  }

  img{ 
    height:50vh;
  }

  .section_cent {
     
    text-align: center;
  
  }

  h1 , h2 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: rgb(165, 0, 0);
    text-align: center;
  }

  h2 {
    background-color: #000000;
  }

  .wrapper {
    border: 2px solid rgba(165, 0, 0, 0);
    border-radius: 5px;
    padding: 10vmax;
    margin-top: 1000px;

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #shadowboxing {
    border: 15px solid rgb(165, 0, 0);
    margin: 30px;
    align-items: center;
    justify-content: center;
    object-fit:contain;
  }

  #textbox {
    padding: 15px;
    margin: 30px;
    width: 50vw;
    height: 50vh;
  }

  #headerbox {
    border:10px solid rgb(165, 0, 0);
    width: 50vw;
    height: 50vh;
  }














  /* weird scrolling image voodoo magicks */
html {
    background: url("index-bg.jpg") repeat;
    -webkit-animation: scrolling 15s linear infinite;
    -moz-animation: scrolling 15s linear infinite;
    -o-animation: scrolling 15s linear infinite;
    animation: scrolling 15s linear infinite;
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    color: #555555;
}
@keyframes scrolling {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -256px 256px;
    }
}